 html {
     background-color: #f5f5f5;
     font-family: Arial, Helvetica, sans-serif;
 }

 body {
     margin: 0% 30% 0% 30%;      
 }  

h1 {
  text-align: center;  
  font-family: 'Shrikhand', cursive;
  margin-bottom: 0%;
}

h3 {
    margin-top: 0%;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

img {
    max-width: 100%;
    display: center;
    height: auto;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

#rainbow {   
  animation: rainbow 3s infinite; 
}

@keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    100%{color: blue;}
    100%{color: orange;}
  }

#main {
    background-color: white;  
    max-width: 800px;  
    -webkit-box-shadow: 3px 2px 3px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 2px 3px 4px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 2px 3px 4px #ccc;
} 

#tribute-info {
    text-align: block;    
}

#img-div {
    text-align: center;    
}

#img-caption {
    text-align: center;
    margin: 0;
}

#links {
    text-align: center;
}

#impressum {
    text-align: center;
}
  
#first-li {
  list-style-image: url("https://cdn.frankerfacez.com/emoticon/163076/1");
  }
  
#second-li {
  list-style-image: url("https://cdn.frankerfacez.com/emoticon/126950/1");
  }

#third-li {
  list-style-image: url("https://cdn.frankerfacez.com/emoticon/147553/1");
  }

#fourth-li {
  list-style-image: url("https://cdn.frankerfacez.com/emoticon/239909/1");
  }

#fifth-li {
  list-style-image: url("https://cdn.frankerfacez.com/emoticon/196406/1");
  }
  
#last-li {
  list-style-image: url("https://cdn.frankerfacez.com/emoticon/237938/1");
  }
  